html,
body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul,
ol,
li,
button,
a,
p,
div,
h1,
h2,
h3,
h4,
span,
section link,
iframe {
    list-style: none;
    text-decoration: none;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;

    font-family: "Pretendard" !important;
}

img {
    max-width: 100%;
}

#container,
#headerInner,
#footerInner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

@media all and (max-width: 1400px) {
    #container {
        max-width: 95%;
    }
}

@media all and (max-width: 1024px) {
    #container {
        max-width: 90%;
    }
}

@media all and (max-width: 768px) {
    #container {
        max-width: 82.35%;
    }
}

/* 섹션 공통 스타일 */
.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-header h1 {
    font-size: 67px;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
}

.section-header h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.2px;
    margin: 0;
}

.section-header h3 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1.2px;
    margin: 0;
}

.section-header p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 1.55;
    margin: 0;
}

/* 배너 섹션 공통 스타일 */
.banner-section-wrapper {
    width: 100%;
    background: #0057ff;
}

.banner-section-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 216px 0 123px;
}

.banner-section-content h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}

.banner-section-content h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.54;
    letter-spacing: -1.5px;
}

.banner-section-content p {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-top: 34px;
}

@media all and (max-width: 1400px) {
    .banner-section-content {
        max-width: 95%;
        padding: 190px 0 100px;
    }
    
    .banner-section-content h3 {
        font-size: 25px;
    }
    
    .banner-section-content h2 {
        font-size: 42px;
    }
    
    .banner-section-content p {
        font-size: 25px;
    }
}

@media all and (max-width: 1024px) {
    .banner-section-content {
        max-width: 90%;
        padding: 160px 0 80px;
    }

    .banner-section-content h3 {
        font-size: 20px;
    }
    
    .banner-section-content h2 {
        font-size: 38px;
    }
    
    .banner-section-content p {
        font-size: 20px;
    }
}

@media all and (max-width: 768px) {
    .banner-section-content {
        max-width: 82.35%;
        padding: 140px 0 70px;
    }

    .banner-section-content h3 {
        font-size: 15px;
    }
    
    .banner-section-content h2 {
        font-size: 30px;
    }
    
    .banner-section-content p {
        font-size: 15px;
    }
}

/* 네비 섹션 공통 스타일 */
.nav-section-wrapper {
    width: 100%;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-section-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-section-content li {
    color: #6A6A6A;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    padding: 27px 21px 23px;
}

.nav-section-content li.active {
    color: #000;
    border-bottom: 3px solid #000;
}

@media all and (max-width: 1400px) {
    .nav-section-content {
        max-width: 95%;
        gap: 7px;
    }

    .nav-section-content li {
        font-size: 23px;
        padding: 25px 20px 22px;
    }
}

@media all and (max-width: 1024px) {
    .nav-section-content {
        max-width: 90%;
        gap: 5px;
    }
    
    .nav-section-content li {
        font-size: 20px;
        padding: 20px 17px;
    }
}

@media all and (max-width: 768px) {
    .nav-section-content {
        max-width: 82.35%;
        gap: 2px;
    }
    .nav-section-content li {
        font-size: 15px;
        padding: 15px 10px;
    }
}
@media all and (max-width: 480px) {
    .nav-section-content li {
        font-size: 11px;
        padding: 10px 5px;
    }
}

/* 그리드 공통 스타일 */
.grid-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px 25px;
    margin-bottom: 50px;
}

.grid33,
.grid66,
.grid100 {
    border: 0;
}

.grid33 {
    grid-column: auto;
}

.grid66 {
    grid-column: span 2;
}

.grid100 {
    grid-column: 1 / 4;
}

.web-br {
    display: block;
}

.mob-br {
    display: none;
}

@media all and (max-width: 1024px) {
    .grid-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 10px;
    }
}

@media all and (max-width: 1024px) {
    .mob-br {
        display: block;
    }

    .web-br {
        display: none;
    }
}


/* 모달 스타일 */
.modal { display: none; max-width: 1400px; margin: 0 auto; padding: 10px 75px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; z-index: 20; background-color: white; }
.modal { display: none; max-width: 732px; margin: 0 auto; padding: 10px 75px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; z-index: 20; background-color: white; }
.modal .modal-header { padding: 15px 0; text-align: center; position: relative; border-bottom: 1px solid #d9d9d9; }
.modal .modal-header > p { font-size: 25px; font-style: normal; font-weight: 600; line-height: normal; }
.modal .modal-header > img { position: absolute; top: 50%; right: 0; transform: translateY(-50%); cursor: pointer; }
.modal-background { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 15; }
@media all and (max-width: 1400px) {
    #interiorListSectionInner > div > .grid-row .grid33 .modal .modal-header > p { font-size: 22px;}
}

@media all and (max-width: 1024px) {
    #interiorListSectionInner > div > .grid-row .grid33 .modal .modal-header > p { font-size: 16px;}
}

@media all and (max-width: 768px) {
    #interiorListSectionInner > div > .grid-row .grid33 .modal .modal-header > p { font-size: 13px;}
}

@media all and (max-width: 480px) {
    #interiorListSectionInner > div > .grid-row .grid33 .modal .modal-header > p { font-size: 9px;}
}