#mainBannerSectionInner {
    padding-top: 63px;
}

#udf-slider {
    position: relative;
    height: 705px;
    /* overflow: hidden; */
    margin-bottom: 78px;
}

#udf-slider .udf-slide-wrapper {
    position: relative;
    width: 100%;
    /* aspect-ratio: 1/1;  */
}

#udf-slider .udf-slide-wrapper .udf-slide-element img {
    width: 100%;
    display: block;
    will-change: transform;
    transform: scale(1.02);
    transition: transform 0.8s ease-in-out;
}

#udf-slider .udf-slide-wrapper .udf-slide-element.active img {
    transform: scale(1);
}

#udf-slider .udf-slide-wrapper .udf-slide-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: 1;
}

#udf-slider .udf-slide-wrapper .udf-slide-element.active {
    opacity: 1;
    z-index: 2;
}

/* 슬라이드 텍스트 */
#udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 12.858%;
    gap: 22px;
}

#udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title {
    font-size: 67px;
    font-weight: 700;
    letter-spacing: -2.01px;
    line-height: normal;
    opacity: 0;
    transform: translateY(10px);
    transition: none;
}

#udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword {
    font-size: 62px;
    font-weight: 900;
    letter-spacing: -1.86px;
    line-height: normal;
    color: #0057ff;
    opacity: 0;
    transform: translateY(10px);
    transition: none;
}

#udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 9px;
}
/* 각 슬라이드별 바텀 텍스트 위치 변경 */
#udf-slider .udf-slide-wrapper .use1 .slide-bottom-text { bottom: 12.306%; right: 312px ; }
#udf-slider .udf-slide-wrapper .use2 .slide-bottom-text { bottom: 12.306%; right: 190px; }
#udf-slider .udf-slide-wrapper .use3 .slide-bottom-text { bottom: 12.306%; right: 46.23px; }
#udf-slider .udf-slide-wrapper .use4 .slide-bottom-text { bottom: 12.306%; right: 128.23px ; }
#udf-slider .udf-slide-wrapper .use5 .slide-bottom-text { bottom: 12.306%; right: 32.23px ; }

#udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence {
    font-size: 22px;
    font-weight: 900;
    line-height: normal;
    opacity: 0;
    transform: translateY(10px);
    transition: none;
}

#udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    opacity: 0;
    transform: translateY(10px);
    transition: none;
}

#udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span {
    content: "";
    border: 2px solid #0057FF;
    height: 18px;
    margin: 0 5px;
}

#udf-slider .udf-slide-wrapper .udf-slide-element.active .slide-top-text .use-title,
#udf-slider .udf-slide-wrapper .udf-slide-element.active .slide-bottom-text .use-sentence {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out 0.4s, transform 0.5s ease-out 0.4s;
}

#udf-slider .udf-slide-wrapper .udf-slide-element.active .slide-top-text .use-keyword,
#udf-slider .udf-slide-wrapper .udf-slide-element.active .slide-bottom-text .use-info {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
}

/* 슬라이드 도트 */
#udf-slider .udf-slide-dot {
    display: none !important;
    position: absolute;
    bottom: 5.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 3;
}

#udf-slider .udf-slide-dot .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.1s;
}

#udf-slider .udf-slide-dot .dot.active {
    background-color: #fff;
}

/* 슬라이드 버튼 */
#udf-slider .udf-slider-btn {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    max-width: 1536px;
    margin: 0 auto;
    z-index: 3;
}

#udf-slider .udf-slider-btn .udf-sldier-prev,
#udf-slider .udf-slider-btn .udf-sldier-next {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
}

#udf-slider .udf-slider-btn .udf-sldier-prev svg {
    padding: 18px 20px 17px 15px;
}

#udf-slider .udf-slider-btn .udf-sldier-next svg {
    padding: 18px 15px 17px 20px;
}

#udf-slider .udf-slider-btn .udf-sldier-prev svg,
#udf-slider .udf-slider-btn .udf-sldier-next svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

#udf-slider .udf-slider-btn .udf-sldier-prev:hover svg,
#udf-slider .udf-slider-btn .udf-sldier-next:hover svg {
    background: rgba(0, 0, 0, 1);
    opacity: 1;
}

#udf-slider:hover .udf-slider-btn svg {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

/* basic setting */
#udf-slider .udf-slide-wrapper .udf-slide-element #slide1920Img { display: block; }
#udf-slider .udf-slide-wrapper .udf-slide-element #slide1400Img { display: none; }
#udf-slider .udf-slide-wrapper .udf-slide-element #slide1024Img { display: none; }
#udf-slider .udf-slide-wrapper .udf-slide-element #slide768Img { display: none; }
#udf-slider .udf-slide-wrapper .udf-slide-element #slide450Img { display: none; }
#udf-slider .udf-slide-wrapper .udf-slide-element #slide340Img { display: none; }
#udf-slider .fast-contact {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
    animation: vibration 0.1s infinite;
    text-align: center;
    margin-top: 20px;
    border: 0;
}

#udf-slider .fast-contact-btn {
    /* 버튼 스타일링 */
    font-size: 22px;
    font-weight: 600;
    padding: 18px 100px;
    background-color: #0057ff;
    color: white;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: motion 0.7s linear 0s infinite alternate;
    margin-bottom: 0;
    margin-right: 0;
}

#udf-slider .fast-contact-btn:hover {
    background-color: #0000ff;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

@keyframes motion {
    0% {
        margin-right: 0px;
    }

    20% {
        margin-right: 10px;
    }

    40% {
        margin-right: 0px;
    }

    60% {
        margin-right: 10px;
    }

    80% {
        margin-right: 0px;
    }

    100% {
        margin-right: 0px;
    }
}

@media all and (max-width: 1400px) {
    #udf-slider { 
        height: 612px; 
    }
    /* 1400px 이하 배너별 베이직 사이즈 */
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { left: 12.858%; gap: 15.8px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 53.75px; letter-spacing: -1.613px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 53.75px; letter-spacing: -1.613px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 19.075px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 19.075px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 15.6px; }

    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1920Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1400Img { display: block; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1024Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide768Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide450Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide340Img { display: none; }
    
    #udf-slider .fast-contact-btn { font-size: 19.075px; padding: 15px 94px; }

    /* 각 슬라이드별 바텀 텍스트 위치 변경 */
    #udf-slider .udf-slide-wrapper .use1 .slide-bottom-text { bottom: 12.306%; right: 170.47px; }
    #udf-slider .udf-slide-wrapper .use2 .slide-bottom-text { bottom: 12.306%; right: 60.15px; }
    #udf-slider .udf-slide-wrapper .use3 .slide-bottom-text { bottom: 12.306%; right: 0; }
    #udf-slider .udf-slide-wrapper .use4 .slide-bottom-text { bottom: 12.306%; right: 0; }
    #udf-slider .udf-slide-wrapper .use5 .slide-bottom-text { bottom: 12.306%; right: 0; }

    /* 1400px 이하 배너별 커스텀 사이즈 */
    #udf-slider .udf-slide-wrapper .use3 .slide-bottom-text .use-sentence { font-size: 17px; }
    #udf-slider .udf-slide-wrapper .use3 .slide-bottom-text .use-info { font-size: 17px; }
    #udf-slider .udf-slide-wrapper .use5 .slide-bottom-text .use-sentence { font-size: 17px; }
    #udf-slider .udf-slide-wrapper .use5 .slide-bottom-text .use-info { font-size: 17px; }
}

@media all and (max-width: 1024px) {
    #udf-slider { 
        height: 633px; 
    }
    #udf-slider .udf-slider-btn {
        display: none !important;
    }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { position: relative; left: inherit; gap: 11.73px; margin-bottom: 30px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 40.236px; letter-spacing: -1.207px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 40.236px; letter-spacing: -1.207px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text { position: relative; left: inherit; gap: 9px; margin-top: 38px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 19.075px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 22px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 18px; }

    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1920Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1400Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1024Img { display: block; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide768Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide450Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide340Img { display: none; }

    #udf-slider .fast-contact-btn { font-size: 22px; padding: 18px; }
}

@media all and (max-width: 768px) {
    #udf-slider {
        height: 519px; 
    }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { gap: 15.8px; margin-bottom: 24px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 32.974px; letter-spacing: -0.989px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 32.974px; letter-spacing: -0.989px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text { gap: 6.68px; margin-top: 31px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 18.029px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 18.029px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 14.751px; }

    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1920Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1400Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1024Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide768Img { display: block; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide450Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide340Img { display: none; }

    #udf-slider .fast-contact-btn { font-size: 17.776px; padding: 14.5px; }
}
@media (max-width: 672px) {
    #mainBannerSectionInner { max-width: 450px; margin: 0 auto; }

    #udf-slider {
        height: 401px; 
    }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { gap: 10px; margin-bottom: 18px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 26px; letter-spacing: -0.8px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 26px; letter-spacing: -0.8px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text { gap: 5px; margin-top: 28px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 15px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 15px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 12px; }

    #udf-slider .fast-contact-btn { font-size: 12px; padding: 8px 10px; }
}
@media all and (max-width: 450px) {
    #udf-slider { 
        height: 401px; 
    }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { gap: 5px; margin-bottom: 13px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 20px; letter-spacing: -0.6px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 20px; letter-spacing: -0.6px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text { gap: 4px; margin-top: 26px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 10.638px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 10.638px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 12px; }

    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1920Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1400Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1024Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide768Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide450Img { display: block; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide340Img { display: none; }

    #udf-slider .fast-contact-btn { font-size: 10px; padding: 8px; }
}
@media (max-width: 362px) {
    #mainBannerSectionInner { max-width: 90%; margin: 0 auto; }

    #udf-slider {
        height: 278px; 
    }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { gap: 4px; margin-bottom: 12px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 18px; letter-spacing: -0.6px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 18px; letter-spacing: -0.6px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text { gap: 4px;  margin-top: 19px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 10.638px; }   
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 10.638px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 8.704px; }

    #udf-slider .fast-contact-btn { font-size: 12px; padding: 8px 10px; }
}
@media all and (max-width: 340px) {
    #udf-slider { 
        height: 278px; 
    }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text { gap: 4px; margin-bottom: 12px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-title { font-size: 17px; letter-spacing: -0.51px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-top-text .use-keyword { font-size: 17px; letter-spacing: -0.51px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text { gap: 4px;  margin-top: 16px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-sentence { font-size: 10.638px;} 
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info { font-size: 10.638px; }
    #udf-slider .udf-slide-wrapper .udf-slide-element .slide-bottom-text .use-info span { height: 8.704px; }

    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1920Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1400Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide1024Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide768Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide450Img { display: none; }
    #udf-slider .udf-slide-wrapper .udf-slide-element #slide340Img { display: block; }

    #udf-slider .fast-contact-btn { display: none; }
}